In [1]:
import pandas as pd
import pyodbc as p

In [2]:
from datetime import date
today = date.today()

In [3]:
d1 = today.strftime("%Y%d%m")
print("d1 =", d1)

d1 = 20210103

This is the raw data script:

In [4]:
sql_query="""SELECT * from mipbi_dbo.td_beneficiary;"""

Here we connect to the __kx_bi__ postgres database and execute the above query to generate the EAP raw data set:

In [5]:
conn_str = (
    "DRIVER={PostgreSQL ODBC Driver(UNICODE)};"
    "DATABASE=kx_bi;"
    "UID=postgres;"
    "PWD=postgres;"
    "SERVER=172.31.244.44;"
    "PORT=5432;"
    )

conn = p.connect(conn_str)
# cursor = conn.cursor()

In [6]:
td_beneficiaries_df = pd.read_sql(sql_query,conn)

In [7]:
file_name='td_beneficiaries_df_{d1}.csv'.format(d1=d1)
file_path='C:\\Users\\christo.strydom\\github_repos\\fraud_project\\data\\'
file=file_path+file_name

In [8]:
file

'C:\\Users\\christo.strydom\\github_repos\\fraud_project\\data\\td_beneficiaries_df_20210103.csv'

In [9]:
td_beneficiaries_df.to_csv(file, index=False)

In [27]:
td_beneficiaries_list=list(td_beneficiaries_df)
td_beneficiaries_list.sort()

In [28]:
td_beneficiaries_list

['act_status',
 'admin_fk',
 'agent_com_perc',
 'benefit_date',
 'bfwd',
 'birth_date',
 'branch_code',
 'broker_fk',
 'card_count',
 'comp_fk',
 'comp_name',
 'comp_post_code',
 'cont_person',
 'dep_fk',
 'dep_type',
 'dis_incent',
 'due',
 'emp_num',
 'end_date',
 'first_name',
 'gender',
 'graduation_date',
 'group_class',
 'group_code',
 'home_lang',
 'id_num',
 'id_type',
 'inact_end_1',
 'inact_end_2',
 'inact_start_1',
 'inact_start_2',
 'income_amount',
 'income_cat',
 'income_proof_date',
 'initials',
 'join_date',
 'load_date',
 'main_cell',
 'main_dep',
 'main_email',
 'main_tel',
 'main_type',
 'main_work_tel',
 'mem_status',
 'ms_pk',
 'nick_name',
 'o_subs_code',
 'orig_joined',
 'pay_mode',
 'pay_point',
 'penalty_percentage',
 'persal_member',
 'phys1',
 'phys2',
 'phys3',
 'phys4',
 'phys5',
 'phys_code',
 'post1',
 'post2',
 'post3',
 'post4',
 'post5',
 'post_code',
 'pref_lang',
 'race_code',
 'relationship',
 'resign_code',
 'resign_date',
 'resign_reason',
 's_subs_code',
 'scheme_fk',
 'scheme_name',
 'start_date',
 'student_number',
 'sub_company_fk',
 'subcomp_name',
 'subs_override',
 'surname',
 'suspend_date',
 'suspend_type',
 'tax_benefit',
 'tax_claimed',
 'tel',
 'title',
 'underwrite_cat',
 'wait_per',
 'wait_per_cat']

In [11]:
td_beneficiaries_df[['graduation_date','orig_joined']]

        graduation_date orig_joined
0                   NaN    20110101
1                   NaN    20110201
2                   NaN    20110401
3                   NaN    20110401
4                   NaN    20120401
...                 ...         ...
448370              NaN    20100801
448371              NaN    20100801
448372              NaN    20100901
448373              NaN    20100901
448374              NaN    20101001

[448375 rows x 2 columns]

In [ ]:
# set(td_beneficiaries_df['graduation_date'])

In [14]:
td_beneficiaries_df[~td_beneficiaries_df['graduation_date'].isna()]

,admin_fk,scheme_fk,scheme_name,ms_pk,mem_status,dep_fk,dep_type,surname,initials,birth_date,...,branch_code,pay_point,card_count,agent_com_perc,persal_member,o_subs_code,cont_person,tel,id_type,subs_override
2111,18,127,FLEXICARE,4005484,RESIGNED,2,C,Magayisa,NL,20150219.0,...,0,None,0,0,N,None,None,None,0,None
2112,18,127,FLEXICARE,4005484,RESIGNED,1,C,Magayisa,NA,20020823.0,...,0,None,0,0,N,None,None,None,0,None
2113,18,127,FLEXICARE,4005484,RESIGNED,0,M,Magayisa,CN,19830831.0,...,0,None,0,0,N,None,None,None,0,None
2124,18,127,FLEXICARE,4005802,RESIGNED,3,C,Khantshi,A,20161219.0,...,0,None,0,0,N,None,None,None,0,None
2125,18,127,FLEXICARE,4005802,RESIGNED,1,C,Khantshi,A,20161219.0,...,0,None,0,0,N,None,None,None,0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446982,18,128,FLEXICARE PLUS,01769741,FUTURE,1,A,Mayer,WC,19611120.0,...,0,None,1,0,N,None,None,None,1,None
446983,18,128,FLEXICARE PLUS,01769741,FUTURE,0,M,Meyer,EMC,19611105.0,...,0,None,1,0,N,None,None,None,1,None
446986,18,127,FLEXICARE,01769986,FUTURE,0,M,Rivers,N,19941212.0,...,0,None,1,0,N,None,None,None,1,None
446987,18,128,FLEXICARE PLUS,01770024,FUTURE,1,A,Ntuli,MT,19540912.0,...,0,None,1,0,N,None,None,None,0,None
446988,18,128,FLEXICARE PLUS,01770024,FUTURE,0,M,Ntuli,MM,19550526.0,...,0,None,1,0,N,None,None,None,1,None

In [21]:
td_beneficiaries_df[td_beneficiaries_df['orig_joined']=='20210201']

,admin_fk,scheme_fk,scheme_name,ms_pk,mem_status,dep_fk,dep_type,surname,initials,birth_date,...,branch_code,pay_point,card_count,agent_com_perc,persal_member,o_subs_code,cont_person,tel,id_type,subs_override
4278,18,128,FLEXICARE PLUS,01761569,ACTIVE,0,M,Ndumo,DS,19620612.0,...,0,None,1,0,N,None,None,None,1,None
5271,18,128,FLEXICARE PLUS,01761591,ACTIVE,0,M,BLOM,AA,19920512.0,...,0,None,2,0,N,None,None,None,1,None
5286,18,127,FLEXICARE,01761551,ACTIVE,2,A,Mahlangu,TB,19930903.0,...,0,None,1,0,N,None,None,None,0,None
5287,18,127,FLEXICARE,01761551,ACTIVE,1,A,Masango,NS,19490612.0,...,0,None,1,0,N,None,None,None,0,None
5288,18,127,FLEXICARE,01761551,ACTIVE,0,M,Mahlangu,NE,19590718.0,...,0,None,1,0,N,None,None,None,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446979,18,126,KAELO LIFESTYLE,01769669,ACTIVE,0,M,Fakatsimbi,M,19850329.0,...,0,None,1,0,N,None,None,None,1,None
446980,18,126,KAELO LIFESTYLE,01769712,ACTIVE,0,M,Mazibuko,M,19741207.0,...,0,None,1,0,N,None,None,None,1,None
446981,18,108,KAELO HEALTH MYHEALTH PLUS,520825,ACTIVE,0,M,MAVUNDLA,S,19940407.0,...,0,None,1,0,N,None,None,None,1,None
446984,18,124,KAELO HEALTH MYHEALTH VITAL,01769886,ACTIVE,0,M,Tsie,P,19920503.0,...,0,None,1,0,N,None,None,None,1,None
446985,18,124,KAELO HEALTH MYHEALTH VITAL,01769942,ACTIVE,0,M,Cornelius,T,19910613.0,...,0,None,1,0,N,None,None,None,1,None

In [19]:
set(td_beneficiaries_df['orig_joined'])

{'20180924',
 '20081215',
 '20160829',
 '20101213',
 '20100426',
 '20170714',
 '20160817',
 '20120509',
 '20080525',
 '20040720',
 '20191202',
 '20130820',
 '20010417',
 '20170823',
 '20010507',
 '20080306',
 '20181030',
 '20181221',
 '20110615',
 '20140903',
 '20160608',
 '20130211',
 '20190919',
 '20121213',
 '20010115',
 '20131010',
 '19930901',
 '19950403',
 '20010201',
 '19980403',
 '20150824',
 '20130627',
 '20070416',
 '20001123',
 '20130314',
 '20121109',
 '20100906',
 '20180111',
 '20090226',
 '20200227',
 '19890313',
 '20140124',
 '20030714',
 '20190930',
 '20120830',
 '20181219',
 '20140225',
 '20130628',
 '20111024',
 '20161006',
 '20130705',
 '20050813',
 '20060306',
 '20171120',
 '20161026',
 '20090706',
 '20160907',
 '20200818',
 '20110530',
 '20100913',
 '20180801',
 '20180514',
 '20160419',
 '20180820',
 '20070221',
 '20040506',
 '19890904',
 '20170508',
 '20080415',
 '20101011',
 '20170929',
 '20120404',
 '19980223',
 '20120109',
 '20180107',
 '20060830',
 '20130228',
 '20090715',
 '20050110',
 '19990816',
 '19960115',
 '20080825',
 '20200101',
 '20191031',
 '20100106',
 '20090309',
 '20081104',
 '20181119',
 '20060515',
 '20170611',
 '20150312',
 '20040405',
 '19930215',
 '20190618',
 '20170125',
 '20130102',
 '20060904',
 '20171107',
 '20141010',
 '20140702',
 '20060208',
 '20161003',
 '20120726',
 '20180214',
 '20160421',
 '19990920',
 '20420701',
 '20120216',
 '20110916',
 '19880111',
 '20180416',
 '20190313',
 '20190509',
 '20180126',
 '20060116',
 '19990601',
 '20180725',
 '20090909',
 '20080721',
 '20190507',
 '20080528',
 '19920407',
 '20120910',
 '20171017',
 '20120309',
 '20180830',
 '19970220',
 '20130812',
 '20030115',
 '20110416',
 '20150522',
 '20081124',
 '19880321',
 '20190403',
 '20100817',
 '20040101',
 '20140212',
 '20070709',
 '20000815',
 '19920224',
 '20130727',
 '20150518',
 '20050720',
 '20110719',
 '20021125',
 '20070518',
 '19930825',
 '20101025',
 '20160118',
 '20171227',
 '20070713',
 '19991015',
 '19910814',
 '20180718',
 '19920522',
 '20080508',
 '20101108',
 '20150803',
 '20010426',
 '20130420',
 '20200319',
 '20061009',
 '20190717',
 '19980504',
 '20051024',
 '20090907',
 '20030724',
 '20030715',
 '19900806',
 '20190510',
 '20110307',
 '20111101',
 '20011119',
 '20061130',
 '19850901',
 '20130708',
 '20131118',
 '20080321',
 '20020618',
 '20190218',
 '20120621',
 '20160730',
 '20100117',
 '20110621',
 '20110120',
 '20140606',
 '20070216',
 '20120104',
 '20131209',
 '20020603',
 '20040802',
 '19960601',
 '20111001',
 '20131023',
 '20121011',
 '20081101',
 '20110906',
 '20130829',
 '20190517',
 '20170727',
 '20001204',
 '20170920',
 '20171122',
 '20190531',
 '20071122',
 '20170109',
 '20070510',
 '20131028',
 '20091013',
 '20050214',
 '19991001',
 '20110215',
 '20060810',
 '20030819',
 '20190207',
 '20190312',
 '20200415',
 '20110901',
 '20160704',
 '20051001',
 '20100420',
 '20160713',
 '19911003',
 '20190625',
 '20191010',
 '20200630',
 '20130123',
 '20200106',
 '20111115',
 '20120614',
 '20000401',
 '20080422',
 '20190228',
 '20190130',
 '20170331',
 '20100812',
 '20140106',
 '20191219',
 '20090512',
 '20140514',
 '20110912',
 '20161107',
 '20200804',
 '20121115',
 '20160915',
 '20071003',
 '20130220',
 '20180426',
 '20130402',
 '20190708',
 '20180524',
 '20070829',
 '20131009',
 '20080623',
 '20140814',
 '19970510',
 '19910815',
 '20051031',
 '20110122',
 '20000214',
 '20180817',
 '20200602',
 '20170606',
 '19980107',
 '20031006',
 '20070914',
 '20121204',
 '20180411',
 '20130101',
 '20150120',
 '20140224',
 '20130316',
 '20090924',
 '20060627',
 '20140101',
 '20071127',
 '20061012',
 '20000131',
 '20121019',
 '20140120',
 '19930601',
 '19941003',
 '20160623',
 '20181022',
 '20190520',
 '20170822',
 '19950201',
 '20130408',
 '20420106',
 '20150629',
 '20131204',
 '19970731',
 '20041210',
 '20110208',
 '20170608',
 '20101015',
 '20050912',
 '19890401',
 '20141120',
 '20200527',
 '20130815',
 '20030213',
 '20140313',
 '20040206',
 '20121026',
 '19950306',
 '20320106',
 '19980901',
 '20110725',
 '20080501',
 '19990927',
 '20020813',
 '20010409',
 '20151208',
 '20181106',
 '20061013',
 '20120615',
 '20050404',
 '20140122',
 '20111006',
 '20150714',
 '20130826',
 '20000721',
 '20180213',
 '20160129',
 '20170703',
 '20200127',
 '20110801',
 '20180709',
 '20200707',
 '20180810',
 '20060520',
 '20161219',
 '20090824',
 '20050919',
 '19940901',
 '19981105',
 '19930104',
 '20140904',
 '19910415',
 '20170614',
 '20110812',
 '19890104',
 '19820113',
 '20350404',
 '20110107',
 '20150319',
 '20150728',
 '20031103',
 '20191220',
 '20190118',
 '19950501',
 '20180210',
 '20110420',
 '20080913',
 '20100202',
 '20140403',
 '20111103',
 '20081008',
 '20180611',
 '20170530',
 '20121210',
 '20151120',
 '20140227',
 '20131115',
 '20140714',
 '20140409',
 '19990701',
 '20200529',
 '20120312',
 '20110520',
 '20140119',
 '20180626',
 '19870801',
 '20030915',
 '20000307',
 '19830223',
 '20130418',
 '19950904',
 '20030522',
 '20070606',
 '20200108',
 '20061206',
 '20200701',
 '20190416',
 '20210101',
 '20190806',
 '20040719',
 '20180727',
 '20130304',
 '20120710',
 '20150429',
 '20151218',
 '20181123',
 '20141117',
 '20130521',
 '20141016',
 '20160601',
 '20200721',
 '20120213',
 '20160519',
 '20030218',
 '20040707',
 '20080414',
 '20190404',
 '20181105',
 '20031106',
 '20171204',
 '20120423',
 '19861022',
 '20161011',
 '20081210',
 '20171018',
 '20120702',
 '20150927',
 '20061127',
 '20180815',
 '20170903',
 '20000918',
 '20130614',
 '20170603',
 '20110927',
 '20100329',
 '20190122',
 '20170208',
 '20160901',
 '20160209',
 '19940602',
 '20060926',
 '19921101',
 '20150821',
 '20161205',
 '19820611',
 '20060814',
 '20160923',
 '19920601',
 '20151007',
 '20080218',
 '20181213',
 '20190311',
 '20150806',
 '20150519',
 '20200330',
 '20140719',
 '20130520',
 '20130315',
 '20150722',
 '20120501',
 '20190626',
 '20150827',
 '20170819',
 '20080109',
 '20170101',
 '20140114',
 '20070611',
 '20081001',
 '20120723',
 '19880823',
 '19890302',
 '19890612',
 '20181003',
 '20070901',
 '20091102',
 '20100105',
 '20080102',
 '20020210',
 '20091120',
 '19981021',
 '20440205',
 '19890601',
 '19940101',
 '20080601',
 '20140310',
 '20160210',
 '20090807',
 '20170616',
 '20181205',
 '20050511',
 '20120110',
 '20120210',
 '20181016',
 '20170701',
 '20101005',
 '20060327',
 '20151104',
 '20000417',
 '20111028',
 '19990201',
 '20190214',
 '20170717',
 '20200902',
 '20040713',
 '20081217',
 '20380802',
 '20131213',
 '19870101',
 '20160315',
 '20120507',
 '20150114',
 '20040712',
 '20161227',
 '20080929',
 '20180703',
 '20120709',
 '20170206',
 '20160425',
 '20170130',
 '19900901',
 '20170216',
 '20040419',
 '20160308',
 '20160407',
 '20121206',
 '20111222',
 '20020913',
 '20110711',
 '19960205',
 '20100706',
 '20161201',
 '20070507',
 '20130501',
 '20160427',
 '20171222',
 '20151125',
 '20131111',
 '20160324',
 '20190829',
 '20141127',
 '20050117',
 '20110505',
 '19990406',
 '20030606',
 '20021201',
 '20081006',
 '20121211',
 '20140203',
 '20140201',
 '20110609',
 '20160219',
 '20170712',
 '20101214',
 '19960209',
 '19960129',
 '19930201',
 '19890807',
 '20181128',
 '20100816',
 '20150525',
 '20130301',
 '20021028',
 '20130904',
 '20060815',
 '20071025',
 '20141126',
 '20170424',
 '20170626',
 '20031101',
 '20020901',
 '20180516',
 '20120322',
 '20160904',
 '20060401',
 '20111017',
 '19950830',
 '20171113',
 '20170811',
 '20180315',
 '20170522',
 '20180606',
 '20160329',
 '20201101',
 '20071115',
 '20020801',
 '20180627',
 '20140809',
 '19971028',
 '20100111',
 '20001113',
 '20140602',
 '20120220',
 '20110328',
 '20110411',
 '20180504',
 '20190909',
 '20170126',
 '20121124',
 '20120628',
 '20180813',
 '20090608',
 '19881212',
 '20120616',
 '20181120',
 '20180312',
 '20141224',
 '20050830',
 '20190423',
 '20030107',
 '20120911',
 '20190506',
 '20181101',
 '20141017',
 '19840215',
 '20141101',
 '20100120',
 '19820517',
 '20100108',
 '19941201',
 '20160202',
 '20100801',
 '20080409',
 '20020301',
 '20140303',
 '20120420',
 '20161221',
 '20180301',
 '20180122',
 '20200216',
 '20170121',
 '20190814',
 '20131230',
 '20160711',
 '20160429',
 '20200327',
 '20120504',
 '20130618',
 '20090228',
 '19900730',
 '20160801',
 '20120416',
 '20060626',
 '20140306',
 '20210211',
 '20110214',
 '20330603',
 '20170323',
 '20170421',
 '20090420',
 '19920103',
 '20041001',
 '20170407',
 '20030707',
 '19990412',
 '20050401',
 '20060505',
 '20100129',
 '20090617',
 '20031220',
 '20101123',
 '20051012',
 '20151101',
 '20170326',
 '20121114',
 '20070122',
 '20350808',
 '20200102',
 '20190830',
 '20130306',
 '20060420',
 '20180404',
 '20151117',
 '20191211',
 '20130604',
 '20081020',
 '20191111',
 '20191212',
 '20420304',
 '20190114',
 '20160526',
 '20170404',
 '20081126',
 '20100618',
 '19960527',
 '20110526',
 '20170624',
 '19920128',
 '20110704',
 '20090623',
 '20031201',
 '20170808',
 '19980721',
 '20160606',
 '20140723',
 '20000430',
 '20150528',
 '20120125',
 '19941101',
 '20120924',
 '20190303',
 '20080708',
 '20130214',
 '20110718',
 '20130117',
 '20170613',
 '20010209',
 '20170731',
 '20191024',
 '20170708',
 '20170523',
 '19981201',
 '20171023',
 '20110829',
 '20181207',
 '20041011',
 '20110729',
 '20190620',
 '20151010',
 '20000629',
 '20191106',
 '20181212',
 '20071116',
 '20200110',
 '20140522',
 '20141009',
 '19881111',
 '20190121',
 '20171016',
 '20000830',
 '20130722',
 '20170602',
 '20200522',
 '20080202',
 '20130415',
 '20130621',
 '20160101',
 '20070828',
 '20090313',
 '20081212',
 '20160530',
 '20180328',
 '20180105',
 '20040201',
 '20030701',
 '19890213',
 '20190318',
 '20000904',
 '19920217',
 '20160217',
 '19950222',
 '20150313',
 '20050725',
 '20140512',
 '20160302',
 '20161104',
 '20140910',
 '20190129',
 '20150428',
 '20181005',
 '20070124',
 '20130720',
 '20170405',
 '20180530',
 '20130403',
 '20070222',
 '20031017',
 '20151103',
 '19910212',
 '20121123',
 '20010421',
 '20070815',
 '20190627',
 '20000204',
 '20160211',
 '19940801',
 '20190924',
 '20190819',
 '20170415',
 '20180724',
 '20080402',
 '20160622',
 '20050418',
 '19831207',
 '20200506',
 '20180907',
 '20080715',
 '20130528',
 '19980302',
 '20120327',
 '20160720',
 '19960919',
 '20070723',
 '20111002',
 '20090923',
 '20030515',
 '20140319',
 '20060322',
 '20110930',
 '20171218',
 '20030804',
 '20170729',
 '20140908',
 '20050127',
 '20031027',
 '20150923',
 '20140220',
 '20120207',
 '20180206',
 '20130823',
 '20110303',
 '19960916',
 '20160501',
 '20200603',
 '20180827',
 '20161222',
 '20111107',
 '20130121',
 '20000104',
 '19920401',
 '20180430',
 '19950821',
 '20170321',
 '20200405',
 '20131116',
 '20030917',
 '20031013',
 '20180925',
 '20180223',
 '20180207',
 '20080515',
 '20160611',
 '20170307',
 '20090218',
 '20141203',
 '20181126',
 '20200320',
 '20160629',
 '20160105',
 '20161109',
 '20200317',
 '20111130',
 '20061020',
 '20080325',
 '20121216',
 '19920803',
 '20080130',
 '20140707',
 '20110506',
 '20120620',
 '20040816',
 '20100316',
 '20190301',
 '20070313',
 '20060531',
 '19890201',
 '20181209',
 '20120306',
 '20061211',
 '20171102',
 '20080714',
 '20071030',
 '20170828',
 '20120316',
 '20191025',
 '20151124',
 '19961028',
 '19930616',
 '20130916',
 '20010118',
 '19980907',
 '20130124',
 '20151127',
 '20101122',
 '20190201',
 '20111003',
 '20070305',
 '20120505',
 '20150610',
 '20150123',
 '19900718',
 '20101105',
 '20050627',
 '20120510',
 '20061002',
 '19980518',
 '19970320',
 '20120606',
 '20170211',
 '20090801',
 '19981012',
 '20170313',
 '20060109',
 '19990318',
 '20120921',
 '20401005',
 '19891003',
 '20170911',
 '20001127',
 '19941121',
 '19871201',
 '19891101',
 '20120118',
 '20031215',
 '20160506',
 '20170722',
 '20120905',
 '20161115',
 '20091223',
 '20190729',
 '20030310',
 '20000502',
 '19990113',
 '20150624',
 '19990101',
 '20190411',
 '20030320',
 '20180821',
 '20080326',
 '20170202',
 '20140429',
 '20160815',
 '20171223',
 '20150212',
 '20030120',
 '20040913',
 '20070720',
 '20190808',
 '20100802',
 '20180920',
 '20190322',
 '20100620',
 '20140228',
 '19971215',
 '20150421',
 '20161114',
 '19960801',
 '20181002',
 '20090518',
 '20121224',
 '20071206',
 '20190719',
 '20180103',
 '20071203',
 '20001013',
 '20080411',
 '20170926',
 '20150918',
 '20160607',
 '20150609',
 '20100830',
 '20190527',
 '20040217',
 '20170803',
 '20081209',
 '20060201',
 '20060607',
 '20070802',
 '20171012',
 '20061205',
 '20040820',
 '20190306',
 '20080805',
 '20110815',
 '20000101',
 '20151205',
 '20050201',
 '20130110',
 '20060522',
 '20080213',
 '20090727',
 '20130307',
 '20080602',
 '20190902',
 '20140428',
 '20110128',
 '20030922',
 '20190206',
 '20090527',
 '20200525',
 '20190705',
 '20141202',
 '20130227',
 '20180401',
 '20170607',
 '19900917',
 '19920819',
 '20150707',
 '20130421',
 '20200501',
 '20100118',
 '20090615',
 '20121005',
 '20150617',
 '20121120',
 '20131104',
 '20191115',
 '20190701',
 '20160115',
 '20150210',
 '20180521',
 '20200508',
 '20130207',
 '20210201',
 '19890127',
 '20181010',
 '20120807',
 '20391104',
 '20111114',
 '20160620',
 '20140518',
 '20130201',
 '19830111',
 ...}

In [18]:
td_beneficiaries_df[~td_beneficiaries_df['orig_joined'].isna()]

,admin_fk,scheme_fk,scheme_name,ms_pk,mem_status,dep_fk,dep_type,surname,initials,birth_date,...,branch_code,pay_point,card_count,agent_com_perc,persal_member,o_subs_code,cont_person,tel,id_type,subs_override
0,18,120,HOSMED ESSENTIAL,1477121,RESIGNED,0,M,Mkhela,ZS,19571107.0,...,0,None,0,0,N,None,None,None,1,None
1,18,120,HOSMED ESSENTIAL,1477168,RESIGNED,0,M,Singh,S,19561008.0,...,0,None,0,0,N,None,None,None,1,None
2,18,120,HOSMED ESSENTIAL,1477216,RESIGNED,1,A,Wilson,PJ,19580423.0,...,0,None,0,0,N,None,None,None,2,None
3,18,120,HOSMED ESSENTIAL,1477216,RESIGNED,0,M,Wilson,MP,19550619.0,...,0,None,0,0,N,None,None,None,1,None
4,18,120,HOSMED ESSENTIAL,1477375,RESIGNED,3,C,SEPTEMBER,R,20150728.0,...,0,None,0,0,N,None,None,None,2,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
448370,18,120,HOSMED ESSENTIAL,1476973,RESIGNED,1,C,ROSSOUW,None,20130311.0,...,0,None,0,0,N,None,None,None,2,None
448371,18,120,HOSMED ESSENTIAL,1476973,RESIGNED,0,M,BEKKER,S,19801021.0,...,0,None,0,0,N,None,None,None,1,None
448372,18,120,HOSMED ESSENTIAL,1476999,RESIGNED,0,M,Nel,MH,19520514.0,...,0,None,0,0,N,None,None,None,1,None
448373,18,120,HOSMED ESSENTIAL,1477005,RESIGNED,0,M,Terblanche,Z,19851227.0,...,0,None,0,0,N,None,None,None,1,None
448374,18,120,HOSMED ESSENTIAL,1477030,RESIGNED,0,M,Van Den Berg,FC,19281212.0,...,0,None,0,0,N,None,None,None,1,None

In [ ]:
df['ms_fk_id']=df['ms_fk'].astype(str)+'_'+df['dependent_no'].astype(str).apply(lambda x: x.zfill(2))

In [31]:
td_beneficiaries_df['ms_pk_id']=td_beneficiaries_df['ms_pk'].astype(str)+'_'+td_beneficiaries_df['dep_fk'].astype(str).apply(lambda x: x.zfill(2))

In [33]:
len(set(td_beneficiaries_df['ms_pk']))

355728

In [34]:
len(set(td_beneficiaries_df['ms_pk_id']))

437022